body {
	padding: 0px;
	margin: 0px;

	background-color: #091627;
	border: solid 4px #77d3b6;
	font-family: "Monaco", "Courier New", Courier, monospace;
	font-size: 12px;
    user-select: none;
    	-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
}

textarea {
	width: 100%;
	height: 100%;

	padding: 5px;

	background-color: #091627;
	border: none;
	color: #77d3b6;
	cursor: default;
	font-family: "Monaco", "Courier New", Courier, monospace;
	font-size: 12px;
	outline: none;
	resize: none;
}

#clock {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;

	min-width: 100px;

	padding: 10px;

	color: #77d3b6;
	text-align: left;
}

#menubar {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 30px;

	border-top: solid 4px #77d3b6;
	line-height: 26px;
}

	#menubar .section {
		color: #77d3b6;
		text-align: center;
	}

		#menubar .right {
			border-left: solid 4px #77d3b6;
		}

			#menubar #status {
				position: absolute;
				right: 0px;
				top: 0px;
				width: 25%;
				height: 100%;

				min-width: 150px;
			}

.window {
	border: solid 2px #77d3b6;
}

	.window .topbar {
		width: calc(100% - 2px);
		height: 16px;

		padding: 2px;

		background-color: #77d3b6;
	}

		.topbar .title {
			width: 100%;

			color: #091627;
			cursor: default;
			font-weight: bold;
			text-align: center;
		}

		.topbar .button {
			width: 10px;
			height: 10px;

			background-color: #77d3b6;
			border: solid 2px #091627;
			line-height: 10px;
			text-align: center;
		}

			.topbar .primary {
				position: absolute;
				left: 2px;
				top: 2px;
			}

			.topbar .secondary {
				position: absolute;
				left: 18px;
				top: 2px;
			}

	.window .content {
		width: 100%;
		height: calc(100% - 20px); /* This is the height of topbar */

		background-color: #091627;
	}

		.window #terminal_mask {
			position: absolute;
			left: 0px;
			top: 20px;
			width: 100%;
			height: calc(100% - 20px);
		}

.hidden_input { /* For interfacing with the terminal */
	position: absolute;
	left: -100px;
	top: -100px;
	width: 1px;
	height: 1px;

	opacity: 0;
}